<!DOCTYPE html>
<html>
  <h1> Create a new band</h1>
  <form action = "<%=bands_url%>" method="post">
    <label for="bandname"> Band Name </label>
    <input type = "text" name="band[bandname]" value="">
    <input type = "submit" value="save the band">
  </form>
</html>
